<mat-card>
  @let session = chatSession();
  @let globalInputValid = globaluserInputValid();

  <mat-card-header>
    <mat-card-title>{{session.provider.name + ': ' + session.model}} <button mat-icon-button><mat-icon (click)="close()">close</mat-icon></button> </mat-card-title>
    <mat-card-subtitle>{{session.id}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div>
      @for(message of messages();track message.content){
        <div [class]="message.role">{{message.content}}</div>
      }
    </div>
  </mat-card-content>
  <mat-card-actions class="card-actions">
      <app-clearable-textarea [value]="userGlobalInput()" label="Message" style="width:100%" [style.display]="globalInputValid?'block':'none'" [disabled]="true"></app-clearable-textarea>
      <app-clearable-textarea [(value)]="userInput" label="Message" style="width:100%" [style.display]="globalInputValid?'none':'block'"></app-clearable-textarea>
    
      <div>
      <button mat-raised-button (click)="sendMessage(userInput())" [disabled]="!isUserInputValid() || globaluserInputValid()"><mat-icon>send</mat-icon>Send</button>
      <button mat-raised-button (click)="clear()" [disabled]="globalInputValid"><mat-icon>close</mat-icon>Clear</button>
    </div>
    

    <span>{{ speedAvg() | number: '1.2-2'}} tokens/s</span>
  </mat-card-actions>

</mat-card>