<div class="title">
  <h1>LLM Comparator</h1>
  <button mat-icon-button class="addButton" [routerLink]="'/settings'"><mat-icon>settings</mat-icon></button>
  <button mat-icon-button class="addButton" (click)="openAddChatSessionDialog()"><mat-icon>add</mat-icon></button>
</div>

<div class="container">
  <div class="chat-list">
    @for(session of chatSessions(); track session.id){
      <app-chat [chatSession]="session" (closeChat)="removeChatSession($event)"  [userGlobalInput]="globaluserInput()" [globaluserInputValid]="globaluserInputValid()" class="chat"></app-chat>
    }
  </div>
  <div class="globalMessageBox">
    <app-clearable-input [(value)]="globaluserInput" label="Global message" style="width:90%" inputType="textarea"></app-clearable-input>
    <div style="display: flex;flex-direction: column;justify-content: center; align-items: center;">
      <button mat-raised-button type="button" (click)="sendMessageToAll()" [disabled]="!globaluserInputValid()"><mat-icon>send</mat-icon>Send to all</button>
     <button mat-raised-button (click)="clear()" [disabled]="!globaluserInputValid()"><mat-icon>close</mat-icon>Clear</button>
  </div>
  </div>

</div>




