:host {
  display: block;
}

.chat-list{
  display: flex;
  flex-direction: row;
  gap: 20px;
  width:100%;
}

.container{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width:100%;

}

.chat{
  max-width: 95%;
}